node-red/lib/flows/nodered_flow_bank_aggregator.json
[{"id":"cf4a9eef.e7e6f","type":"http in","z":"f8bc9e6a.04373","name":"Get ALL Transactions","url":"/Transactions/discover","method":"post","upload":false,"swaggerDoc":"","x":120,"y":240,"wires":[["2b8b42e.3c0a0be"]]},{"id":"bb65546d.f0d658","type":"http request","z":"f8bc9e6a.04373","name":"HDFC / Customer Discovery","method":"POST","ret":"obj","url":"{{{HDFC_URL}}}/Customers/discover","tls":"","x":640,"y":160,"wires":[["367ef616.28f9da","f3d60d0c.3a6f7"]]},{"id":"d84cf1e6.5d126","type":"http request","z":"f8bc9e6a.04373","name":"SBIN / Customer Discovery","method":"POST","ret":"obj","url":"{{{SBI_URL}}}/Customers/discover","tls":"","x":640,"y":320,"wires":[["bb736932.d783a8","f3d60d0c.3a6f7"]]},{"id":"367ef616.28f9da","type":"switch","z":"f8bc9e6a.04373","name":"If Customer Present","property":"payload.customerId","propertyType":"msg","rules":[{"t":"neq","v":"\"\"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":960,"y":160,"wires":[["30fcc956.d8fd66"]]},{"id":"4511aaa4.fe4624","type":"http request","z":"f8bc9e6a.04373","name":"GET Transactions","method":"GET","ret":"obj","url":"{{{HDFC_URL}}}/Accounts?filter[where][customerId]={{{filter}}}","tls":"","x":1350,"y":160,"wires":[["b6ed64b0.adcce8"]]},{"id":"30fcc956.d8fd66","type":"change","z":"f8bc9e6a.04373","name":"Set Filter","rules":[{"t":"set","p":"filter","pt":"msg","to":"payload.customerId","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":160,"wires":[["4511aaa4.fe4624"]]},{"id":"bb736932.d783a8","type":"switch","z":"f8bc9e6a.04373","name":"If Customer Present","property":"payload.customerId","propertyType":"msg","rules":[{"t":"neq","v":"\"\"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":960,"y":320,"wires":[["37738665.b9ab6a"]]},{"id":"37738665.b9ab6a","type":"change","z":"f8bc9e6a.04373","name":"Set Filter","rules":[{"t":"set","p":"filter","pt":"msg","to":"payload.customerId","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":320,"wires":[["879eba06.5fa2f8"]]},{"id":"879eba06.5fa2f8","type":"http request","z":"f8bc9e6a.04373","name":"GET Transactions","method":"GET","ret":"obj","url":"{{{SBI_URL}}}/Accounts?filter[where][customerId]={{{filter}}}","tls":"","x":1350,"y":320,"wires":[["fac77904.26a638"]]},{"id":"4c969747.4a60d8","type":"join","z":"f8bc9e6a.04373","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1890,"y":240,"wires":[["a9478a95.3338d8"]]},{"id":"a9478a95.3338d8","type":"http response","z":"f8bc9e6a.04373","name":"","statusCode":"","headers":{},"x":2010,"y":240,"wires":[]},{"id":"f3d60d0c.3a6f7","type":"switch","z":"f8bc9e6a.04373","name":"If Customer Not Present","property":"payload.customerId","propertyType":"msg","rules":[{"t":"eq","v":"\"\"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1050,"y":240,"wires":[["1bb7f815.3f6018"]]},{"id":"1bb7f815.3f6018","type":"function","z":"f8bc9e6a.04373","name":"Empty Transactions List","func":"msg = [];\nreturn msg;","outputs":1,"noerr":0,"x":1590,"y":240,"wires":[["4c969747.4a60d8"]]},{"id":"b6ed64b0.adcce8","type":"function","z":"f8bc9e6a.04373","name":"Response Message Transformation","func":"for (var i=0; i<msg.payload.length; i++){\n    msg.payload[i].BANKID = \"HDFC\";\n    msg.payload[i].CIF = msg.payload[i].customerId;\n    delete msg.payload[i].customerId;\n}\nreturn msg;","outputs":1,"noerr":0,"x":1620,"y":160,"wires":[["4c969747.4a60d8"]]},{"id":"fac77904.26a638","type":"function","z":"f8bc9e6a.04373","name":"Response Message Transformation","func":"for (var i=0; i<msg.payload.length; i++){\n    msg.payload[i].BANKID = \"SBI\";\n    msg.payload[i].CIF = msg.payload[i].customerId;\n    delete msg.payload[i].customerId;\n}\nreturn msg;","outputs":1,"noerr":0,"x":1620,"y":320,"wires":[["4c969747.4a60d8"]]},{"id":"2b8b42e.3c0a0be","type":"change","z":"f8bc9e6a.04373","name":"Set URL","rules":[{"t":"set","p":"HDFC_URL","pt":"msg","to":"http://10.64.99.179:3003/api","tot":"str"},{"t":"set","p":"SBI_URL","pt":"msg","to":"http://localhost:3003/api","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":240,"wires":[["bb65546d.f0d658","d84cf1e6.5d126"]]}]