node-red/flows_MACHINENAME.json
[{"id":"688a1de0.114794","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"cca3317f.0ade4","type":"change","z":"688a1de0.114794","name":"Prepare Banks URL list","rules":[{"t":"set","p":"banks[0].bankid","pt":"msg","to":"HDFC","tot":"str"},{"t":"set","p":"banks[0].url","pt":"msg","to":"http://10.64.99.179:3003/api","tot":"str"},{"t":"set","p":"banks[1].bankid","pt":"msg","to":"SBI","tot":"str"},{"t":"set","p":"banks[1].url","pt":"msg","to":"http://localhost:3003/api","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":150,"y":100,"wires":[["1e4b91f5.14008e"]]},{"id":"1e4b91f5.14008e","type":"splitter","z":"688a1de0.114794","name":"For each Bank","property":"banks","x":160,"y":180,"wires":[["70aea322.d4474c"]]},{"id":"70aea322.d4474c","type":"change","z":"688a1de0.114794","name":"Set URL","rules":[{"t":"set","p":"BANK","pt":"msg","to":"payload.bankid","tot":"msg"},{"t":"set","p":"URL","pt":"msg","to":"payload.url","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload_unsplit","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":260,"wires":[["96cda4a2.229ad8"]]},{"id":"96cda4a2.229ad8","type":"http request","z":"688a1de0.114794","name":"Bank / Customer Discovery","method":"POST","ret":"obj","url":"{{{URL}}}/Customers/discover","tls":"","x":420,"y":260,"wires":[["f21c843f.4e9ff8","44092899.fbb468"]]},{"id":"f99791f4.4d5b3","type":"http in","z":"688a1de0.114794","name":"Get ALL Transactions","url":"/Transactions/discover","method":"post","upload":false,"swaggerDoc":"","x":100,"y":20,"wires":[["cca3317f.0ade4"]]},{"id":"f21c843f.4e9ff8","type":"switch","z":"688a1de0.114794","name":"If Customer Present","property":"payload.customerId","propertyType":"msg","rules":[{"t":"neq","v":"\"\"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":720,"y":360,"wires":[["3bf99c2a.2692e4"]]},{"id":"3bf99c2a.2692e4","type":"change","z":"688a1de0.114794","name":"Set Filter","rules":[{"t":"set","p":"filter","pt":"msg","to":"payload.customerId","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":360,"wires":[["389a1a3b.fb7b96"]]},{"id":"389a1a3b.fb7b96","type":"http request","z":"688a1de0.114794","name":"GET Transactions","method":"GET","ret":"obj","url":"{{{URL}}}/Transaction?filter[where][customerId]={{{filter}}}","tls":"","x":1110,"y":360,"wires":[["889a46ec.853ff8"]]},{"id":"889a46ec.853ff8","type":"function","z":"688a1de0.114794","name":"Response Message Transformation","func":"for (var i=0; i<msg.payload.length; i++){\n    msg.payload[i].BANKID = msg.BANK;\n    msg.payload[i].CIF = msg.payload[i].customerId;\n    delete msg.payload[i].customerId;\n}\nif(!flow.response_count){\n    flow.response_count=1;\n}\nelse{\n    flow.response_count++;\n}\n\nif(flow.response_count == msg.banks.length){\n    msg.complete = true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":1380,"y":360,"wires":[["7007115c.0389d"]]},{"id":"44092899.fbb468","type":"switch","z":"688a1de0.114794","name":"If Customer Not Present","property":"payload.customerId","propertyType":"msg","rules":[{"t":"eq","v":"\"\"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":710,"y":180,"wires":[["4908056c.55726c"]]},{"id":"4908056c.55726c","type":"function","z":"688a1de0.114794","name":"Empty Transactions List","func":"msg.payload = [];\n\nif(!flow.response_count){\n    flow.response_count=1;\n}\nelse{\n    flow.response_count++;\n}\n\nif(flow.response_count == msg.banks.length){\n    msg.complete = true;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":180,"wires":[["7007115c.0389d"]]},{"id":"7007115c.0389d","type":"join","z":"688a1de0.114794","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1330,"y":60,"wires":[["14bf556c.95692b"]]},{"id":"14bf556c.95692b","type":"http response","z":"688a1de0.114794","name":"","statusCode":"","headers":{},"x":1470,"y":60,"wires":[]}]